FREE PSDS 
https://www.deviantart.com/liquidluckpsds/favourites/80205812/free-colorings#content
https://www.deviantart.com/lavenderedit



Texturas 
https://www.deviantart.com/alkindii/gallery#content
https://www.deviantart.com/xdressavt/gallery/92952602/-texturas-textures
https://www.deviantart.com/resources-world/gallery
https://www.deviantart.com/psdreamers/gallery/29043901/textures
https://www.deviantart.com/ps-resources/gallery/66868330/texturas-textures
https://www.deviantart.com/texturize/gallery
https://www.deviantart.com/ps-all-adobe/gallery/35241088/textures
https://www.deviantart.com/magic-photoshop/gallery/32048097/textures


Grupos com diversos resources
https://www.deviantart.com/hggraphicdesigns/gallery#content
https://www.deviantart.com/resources-corner/gallery
https://www.deviantart.com/resources-with-ps/gallery
https://www.deviantart.com/shs-resources/gallery
https://www.deviantart.com/resourcesforyou/gallery
https://www.deviantart.com/makerssleague/gallery/79533805/textures
https://www.deviantart.com/design-dum-hoi/gallery/38839862/resource
https://www.deviantart.com/gorgeousresources/gallery/61871833/textures
https://www.deviantart.com/photoshopcreations/gallery/38305223/actions
https://www.deviantart.com/ghost-edition-ps/gallery

Styles
https://www.deviantart.com/photoshopfreebies/gallery/23972794/photoshop-styles